@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poor+Story&display=swap");
:root {
  --vh: 100%;
}

.App {
  padding: 5px;
  height: calc(var(--vh, 1vh) * 100);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poor Story", cursive;
  min-height: 100vh;
  margin: 0px;
}
@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

.App {
  min-height: 100vh;
  padding: 20px;
}
/*Landing*/
.logo {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subTitle {
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
  justify-content: start;
  background-color: transparent;
}
.Title {
  font-family: "Nanum Pen Script", cursive;
  font-size: 80px;
  justify-content: end;
  background-color: transparent;
}
.Mosimi {
  height: 160px;
  width: auto;
  align-items: center;
  text-align: center;
}
/*Explain*/
.Explain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fdffe8;
  padding-bottom: 20px;
}
.Explain .summary {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
}
.Explain .Title {
  padding-bottom: 18px;
}
.Explain .explains {
  display: flex;
  flex-direction: column;
}

.Explain .explain_1 {
  padding: 12px 20px;

  font-size: 26px;
}
.Explain .explain_2 {
  padding: 12px 20px;

  font-size: 26px;
}
.Explain .explain_3 {
  padding: 12px 20px;

  font-size: 26px;
}
.Explain .explain_4 {
  padding: 12px 20px;

  font-size: 26px;
}
.Explain .explain_5 {
  padding: 12px 20px;
  font-size: 26px;
}

.Explain .MyButton {
  height: 70px;
  width: auto;
  font-size: 40px;
  letter-spacing: 5px;
  border-radius: 50px;
  margin-top: 10px;
  background-color: #22fdb7;
}

/*Settings */
header img {
  width: 28%;
  height: auto;
}

/*login*/
.Login {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Login h3 {
  text-align: center;
  letter-spacing: 1px;
  line-height: 26px;
}
.Login_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LoginPicture {
  background-color: transparent;
  height: 200px;
  width: auto;
  padding-bottom: 20px;
}
.Login_info input {
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-bottom: solid #ececec;
}
.Login_info .InfoSubmit {
  padding-left: 50px;
  padding-right: 50px;
  height: 40px;
  border: none;
  background-color: #1dde7d;
  border-radius: 10px;
}
.Login_info .Social_login div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*Home */
.Home .head_btn_left {
  margin-left: 10px;
  transform: scale(1.3);
}
.Home .Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.Menu .MenuButton {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 200px);
}
.Menu .MyButton {
  position: relative;
  background: #ececec;
  border-radius: 15px;
  width: 85%;
  height: 30%;
  font-size: 20px;
  padding-bottom: 35px;
}
.MyButton_right {
  margin-top: 70px;
  margin-left: 5px;
  box-shadow: 3px 3px 2px gray;
}
.MyButton_left {
  margin-bottom: 70px;
  margin-right: 5px;
  box-shadow: -3px 3px 2px gray;
}
.MyButton_left:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #ececec;
  border-bottom: 0;
  border-right: 0;
  margin-left: -8px;
  margin-bottom: -16px;
}

.MyButton_right:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #ececec;
  border-bottom: 0;
  border-left: 0;
  margin-left: -8px;
  margin-bottom: -16px;
}

.Menu .home_description {
  margin-top: 30px;
  color: #14622a;
  font-size: 25px;
  font-weight: bold;
}
/*My Button */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;

  white-space: nowrap;
  font-family: "Poor Story", cursive;
}
.MyButton_default {
  background-color: #ececec;
  color: black;
}
.MyButton_positive {
  background-color: #8ded95;
  color: black;
}
.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_text {
  width: 50%;
  font-size: 60px;
  justify-content: center;
  font-family: "Nanum Pen Script", cursive;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}
header .MyButton_default {
  background-color: white;
}
header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: "Poor Story", cursive;
}
/*Diary_Home*/
.Diary_Home {
  background-color: white;
  height: 100%;
}
.Diary_Home .head_text {
  font-size: 40px;
}
.DiaryList .diarylist_sort_menu {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.DiaryList .emotion_filter_wrapper {
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 20%);
}
.DiaryList .emotion_filter_wrapper .EmotionItem {
  background-color: white;
}
.DiaryList .emotion_filter_wrapper .EmotionItem_on_1 {
  position: relative;
  bottom: 10px;
}
.DiaryList .emotion_filter_wrapper .EmotionItem_on_2 {
  position: relative;
  bottom: 10px;
}
.DiaryList .emotion_filter_wrapper .EmotionItem_on_3 {
  position: relative;
  bottom: 10px;
}

.DiaryList .diarylist_add button {
  border-radius: 50px;
  width: 65px;
  height: 65px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 70%;
  top: 85%;

  font-weight: bold;
  color: black;
}
.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-family: "Poor Story", cursive;
  font-size: 16px;
}

/*Diary Item*/
.DiaryItem {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}
.DiaryItem .diary_content_menu {
  display: flex;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 50px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.DiaryItem .info_wrapper {
  cursor: pointer;
  flex-grow: 1;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.DiaryItem .diary_weekday {
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
}
.DiaryItem .diary_content_preview {
  font-size: 18px;
  padding-left: 10px;
  padding-top: 20px;
}

.DiaryItem .btn_wrapper button {
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: #fd565f;
}

/*Diary Editor*/
.DiaryEditor section {
  margin-bottom: 40px;
}
.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-family: "Poor Story", cursive;
  font-size: 20px;
}

/*EmotionItem*/
.EmotionItem {
  cursor: pointer;

  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}
.DiaryEditor textarea {
  font-family: "Poor Story", cursive;
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 20px;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}
.EmotionItem span {
  font-size: 18px;
}
.EmotionItem_off {
  background-color: #ececec;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: white;
}
.EmotionItem_on_2 {
  background-color: #9dd772;
  color: white;
}
.EmotionItem_on_3 {
  background-color: #fdce17;
  color: white;
}
.EmotionItem_on_4 {
  background-color: #fd8446;
  color: white;
}
.EmotionItem_on_5 {
  background-color: #fd565f;
  color: white;
}

/*Diary_emotionList-상세보기*/

.DiaryPage section {
  width: 100%;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.DiaryPage h4 {
  font-size: 22px;
  font-weight: bold;
}
.DiaryPage .diary_img_wrapper {
  background-color: #ececec;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.DiaryPage .emotion_descript {
  font-size: 25px;
  color: white;
}

.DiaryPage .diary_img_wrapper_1 {
  background-color: #64c964;
}
.DiaryPage .diary_img_wrapper_2 {
  background-color: #9dd772;
}
.DiaryPage .diary_img_wrapper_3 {
  background-color: #fdce17;
}
.DiaryPage .diary_img_wrapper_4 {
  background-color: #fd8446;
}
.DiaryPage .diary_img_wrapper_5 {
  background-color: #fd565f;
}
.DiaryPage .diary_content_wrapper {
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.DiaryPage .diary_content_wrapper p {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  font-family: "Poor Story", cursive;
  font-weight: 400;
  line-height: 2.5;
}
